.contacto{
    background-color: #dbc8c8;
    color: #fff;
    padding: 50px 20px;
}
.contacto .contenido-contacto{
    max-width: 1000px;
    margin: auto;
}
.contacto h2{/* ver bien que quiero hacer con este color*/
    font-size: 45px;
    font-family: 'Dancing Script';
    color: #4b728a;
    text-align: center;
    padding: 20px 0;
}
.contacto p{
    padding: 20px 0;
    text-align: center;
}